.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background-color: #333;
  display: flex;justify-content: space-between;
  align-items: center;
  padding: 1.5rem 9%;
}
.header .logo{
  font-weight: bolder;
  font-size: 2.5rem;
  color: #fff;
}
.header .logo span{
  color:var(--main-color);
}
.header .navbar a{
  font-size: 1.7rem;
  color: #fff;
 margin-left: 2rem;
}
.header .navbar a:hover{
  color: var(--main-color);
}
#menu-bars{
  font-size: 3rem;
  color: #fff;
  cursor: pointer;
  display: none;
}


/* home section */
.home.content{
  text-align: center;
  padding-top: 6rem;
  margin: 4rem auto;
  max-width: 70rem;
  color: #fff;
  background-color: #fff;
}































/* media queries */
@media (max-width:991px){
  html{
    font-size: 55%;
  }
  .header{
    padding: 1.5rem 2rem;
  }
  
  
}
@media (max-width:767px){
  .header #menu-bars{
    display: initial;
  }
  .header .navbar{
    position: absolute;
    top: 100%;
    right: 0;
    bottom: 0;
    left: 0;
    border-top: .1px solid #222;
    background-color: #333;
    transform: translateX(100%);
    opacity: 0;
    transition: opacity .5s linear;
  }
  .header .navbar.active{
    transform: translateX(0);
    opacity: 1;
  }
  .fa-times{
    transform: rotate(180deg);
  }
  .header .navbar a{
    display: flex;
   
    padding: 1.3rem;
    border-radius: .5rem;
    margin: 1.3rem;
    font-size: 1.5rem;
    background:#444;

  }
}
@media (max-width:450px){
  html{
    font-size: 50%;
  }

  
  
}