.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background-color: #333;
  display: flex;justify-content: space-between;
  align-items: center;
  padding: 1.5rem 9%;
}
.header .logo{
  font-weight: bolder;
  font-size: 2.5rem;
  color: #fff;
}
.header .logo span{
  color:var(--main-color);
}
.header .navbar a{
  font-size: 1.7rem;
  color: #fff;
 margin-left: 2rem;
}
.header .navbar a:hover{
  color: var(--main-color);
}
#menu-bars{
  font-size: 3rem;
  color: #fff;
  cursor: pointer;
  display: none;
}
.btn{
  margin-top: 1rem;
  display: inline-block;
  padding: 0.8rem 3rem;
  font-size: 1.7rem;
  border-radius: .5rem;
  border: 0;
  background: #666;
  color: #fff;
  cursor: pointer;
  font-weight: 600;
}
.btn:hover{
  background-color: var(--main-color);
}
/* home section */
.home{
 /* margin-top: 6rem; */
 
}
.home .content {
  text-align: center;
  padding-top: 6rem;
  margin: 2rem auto;
  max-width: 70rem;
}
.home .content h3{
  font-size: 4.5rem;
  text-align: center;
  color: #fff;
}
.home .content h3 span{
  color: var(--main-color);
  text-transform: uppercase;
}
.home .home-slider .swiper-slide{
  overflow: hidden;
  border-radius: .5rem;
  height: 50rem;
  width: 30rem;
}
.home .home-slider .swiper-slide img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/* services */
.service .box-container{
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(27rem,1fr));
  grid-gap: 1.5rem;
}
.service .box-container .box{
  border-radius: .5rem;
  background-color: #333;
  text-align: center;
  padding: 2.5rem;
}
.service .box-container .box i{
  height: 6rem;
  width: 6rem;
  line-height: 6rem;
  border-radius: 50%;
  font-size: 2.5rem;
  color: #fff;
  background: var(--main-color);
}
.service .box-container .box h3{
  font-size: 2rem;
  color: #fff;
  padding: 1rem 0;
}
.service .box-container .box p{
  font-size: 1.4rem;
  color: #eee;
 line-height: 1.8;
}
/* about */
.about .row{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 1.5rem;

}
.about .row .image{
  flex:  1 1 45rem;
  padding: 1rem;
}
.about .row .image img{
  width: 100%;
  border: 1px solid #333;
  border-radius: .5rem;
}
.about .row .content{
  flex:  1 1 45rem;
  
}
.about .row .content h3{
  font-size: 3.5rem;
  color: #fff;
}
.about .row .content p{
  font-size: 1.5rem;
  color: rgb(190, 189, 189);
  line-height: 2;
  padding: 1rem 0;
}
/* galery */
.galery .box-container{
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(27rem,1fr));
  grid-gap: 1.5rem;
}
.galery .box-container .box{
  position: relative;
  border: 1rem solid #333;
  border-radius: .5rem;
  height: 25rem;
  overflow: hidden;
  cursor: pointer;
}
.galery .box-container .box img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.galery .box-container .box:hover img{
  transform: scale(1.1);
  filter: grayscale();
}
.galery .box-container .box .title{
  position: absolute;
  top: -10rem;
  right: 0;
  padding-bottom: 1rem;
  font-size: 2rem;
  left: 0;
  text-align: center;
  background: #333;
  color: #fff;
}
.galery .box-container .box:hover .title{
  top: 0;
}
.galery .box-container .box .icon{
  position: absolute;
  left: 0;
  bottom: -10rem;
  background: #3333;
  padding-bottom: 1rem;
  right: 0;
  text-align: center;
}
.galery .box-container .box:hover .icon{
  bottom: 0;
}
.galery .box-container .box .icon a{
  font-size: 2rem ;
  margin: .5rem  1rem;
  color: #fff;
}
.galery .box-container .box .icon a:hover{
  color: var(--main-color);
}

/* price */
.price .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(25rem,1fr));
  grid-gap: 1.5rem;
  
}
.price .box-container{
  padding: 2rem 0;
 
  border-radius: .5rem;
  text-align: center;
}
.price .box-container .box{
  background-color: #555;
}
.price .box-container .box:hover{
  transform: scale(1.03);
}
.price .box-container .box .title{
  background: var(--main-color);
  color: #fff;
  padding: 1.5rem;
  font-size: 2rem;
}
.price .box-container .box .amount{
  color: #fff;
  padding-top: 2rem;
  font-size: 4rem;
}























/* media queries */
@media (max-width:991px){
  html{
    font-size: 55%;
  }
  .header{
    padding: 1.5rem 2rem;
  }
  section{
    padding: 2rem;
  }
  
}
@media (max-width:767px){
  .header #menu-bars{
    display: initial;
  }
  .header .navbar{
    position: absolute;
    top: 100%;
    right: 0;
    bottom: 0;
    left: 0;
    border-top: .1px solid #222;
    background-color: #333;
    transform: translateX(100%);
    opacity: 0;
    transition: opacity .5s linear;
  }
  .header .navbar.active{
    transform: translateX(0);
    opacity: 1;
  }
  .fa-times{
    transform: rotate(180deg);
  }
  .header .navbar a{
    display: flex;
   
    padding: 1.3rem;
    border-radius: .5rem;
    margin: 1.3rem;
    font-size: 1.5rem;
    background:#444;

  }
  .home .content h3{
    font-size: 4rem;
  }
}
@media (max-width:450px){
  html{
    font-size: 50%;
  }
  .home .home-slider .swiper-slide{
    width: 27rem;
  }
  
  
}