:root{
  --main-color:#3867d6;

}
*{ 
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  text-decoration: none;
  text-transform: capitalize;
  transition: .2s linear;
  font-family: 'Roboto', sans-serif;

 }
html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5, h6, p{
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 62.5%;
  font-family: 'Roboto', sans-serif;
  overflow-x: hidden;
  scroll-padding-top: 7rem;
  scroll-behavior: smooth;
}

ol, ul {
  list-style: none;
}
img{
  object-fit: cover;
  max-width: 100%;
  width: 100%;
}